.Container {
    margin: 0;
    padding: 0;
}

.boxContainer {
    background-color: white;
    text-align: center;
    border-radius: 8px;
    width: 40%;
    height: 50vh;
    padding: 2%;
    margin: 5%;
    display: flex;
    flex-direction: column;
    align-content: space-between;
}
.atividadesRealizadas h1{ 
    text-align: center;
    color: white;
    font-weight: bold;
    font-family: GilroyBold;
    font-size: 28px;
}

.boxContainer .tituloBox {
    font-size: 16px;
    font-family: GilroyRegular;
}

.graph {
    width: 100%;
    display: flex;
    flex: 1;
    justify-content: center;
    margin-bottom: 2%;
}

.entrar {
    font-family: GilroyBold;
    font-size: 16px;
    background-color: var(--planac-azul);
    color: white;
    padding: 8px 12px 8px 12px;
    border: none;
    border-radius: 4px;
    ;
    text-decoration: none;
}

.cardGroup {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;

    overflow: auto;
    width: 100%;
}

.cardAtividade {
    width: 40%;
    height: 25vh;
    border-radius: 4%;
    text-align: center;
    padding: 2%;
    margin: 3%; 
}

.cardAtividade .nomeCategoria {
    font-size: 0.8rem;
    font-family: GilroyBold;
}

.romanoCategoria {
    display: inline-block;
    width: 25px;
    height: 25px;
    border-radius: 100%;
    background-color: black;
    color: white;
    font-family: GilroyBold;
    text-align: center;
}

.cardAtividade .horaCategoria {
    font-size: 14px;
    font-family: GilroyRegular;
}

.boxAtividadeRealizada{
    background-color: grey;
}