.boxContainer{
    display: flex;
    align-items: center;
    background-color: white;
    margin: 30px;
    min-height: fit-content;
    padding: 20px;
    border-radius: 5px;
    width: 30vw;
}
.boxContainer h3{
    margin-bottom: 2rem;
}
.react-calendar{ 
    background-color: transparent;
    border: none;
    font-family: GilroyRegular;
    width: auto;
}

abbr[title]{
    text-decoration: none;
}
.react-calendar__navigation button{
    text-transform: capitalize;
    font-weight: bold;
}


.react-calendar__month-view__days__day--weekend{
    color: rgb(165, 158, 158);
}
.react-calendar__tile--now {
    background-color: transparent;
    font-weight: bolder;
    color: black;
}

.react-calendar__tile--active {
    background-color: transparent;
    color: black;
}

.react-calendar button{
    font-family: GilroyRegular;
}

.react-calendar__tile--active:enabled:hover, .react-calendar__tile--active:enabled:focus{
    background: grey;
}

.react-calendar__tile--active{
    background: black;
    color: white;
}

.cardAtividadePlanejada{
    display: flex;
    align-items: center;
    background-color: var(--planac-verde-faded);
    border-radius: 5px;
    margin: 4px;
    width: 100%;
    padding: 0.5rem;
}
.cardAtividadePlanejada .titulo{
    display: flex;
    width: 100%;
    justify-content: center;

}
.romanoCategoria{
    margin-right: 1rem;
    display:flex;
    align-items: center;
    justify-content: center;
}

.diaEHorario{
    margin-left: auto;
    margin-right: 10px;
}
.iconesContainer{
    height: 58vh;
    width: 40px;
    position: relative;

}
.iconesContainer .container{
    position: absolute;
    bottom: 0;
    display: flex;
    flex-wrap: wrap;
    
}

.icone{
    height: 3rem;
    width: 3rem;
    margin-top: 10px;
    background-color: black;
    border-radius: 50%;
}