@font-face {
  font-family: 'GilroyRegular';
  src: url("./Pages/Components/Fonts/Gilroy-Regular.woff");
}
@font-face {
  font-family: 'GilroyBold';
  src: url("./Pages/Components/Fonts/Gilroy-Bold.woff");
  font-weight: bold;
}

:root {
  --planac-azul: #00A4F7FF;
  --planac-verde: #00F190FF;
}

*{
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--planac-azul);
}

.container{
  height: calc(100vh - 78px);
  width: 100vw;
  display: flex;
  align-items: center;
}

