.menu{
    background-color: #131111;
    display: flex;
    height: 50px;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}

.menu .tb{
    display: flex;
    right: auto;
}

.menu .imagem img{
    width: 90px;
    margin-left: 20px;
    height: 30px;
}
.menu .tb .botao{
    display: flex;
    color: white;
    margin-right: 10px;
    height: 50px;
    align-items: center;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    padding: 5px;
}

.menu .tb .botao:hover, .botao:active{
    background-color: rgb(116, 209, 255);
    text-decoration: underline;
}

.menu .sair{
    color:white;
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
}

.menu .sair:hover{
    text-decoration: underline;
}
