@font-face {
    font-family: 'GilroyRegular';
    src: url("../Components/Fonts/Gilroy-Regular.woff");
}
@font-face {
    font-family: 'GilroyBold';
    src: url("../Components/Fonts/Gilroy-Bold.woff");
    font-weight: bold;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100vw;
    height: 100vh;
}
.formLogin{
    font-family: GilroyRegular;
}

.boxLogin{
    background-color: white;
    padding: 20px;
    box-sizing: border-box;
    width: 40vw;
    height: 50vh;
    border-radius: 20px;

}
.boxLogin h3{
    font-weight: normal;
}
.boxLogin .input{
    padding: 3px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    width: 50%;
    height: 2rem;
    background-color: rgb(202, 202, 202);
    text-align: center;
}
.boxLogin .input:focus{
    border: transparent;
}

.boxLogin .entrar{
    font-family: GilroyBold;
    background-color: var(--planac-azul);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 10px;
}

.logo{
    height: 6rem;
    margin: 2px;
}